<nav class="navbar navbar-expand-lg navbar-light">
  <img class="navbar-brand" src="../../assets/images/logo-image.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span><!-- navbar-toggler-icon -->
  </button><!-- navbar-toggler -->

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" routerLink="">
        <a class="nav-link"><img class="nav-icon-img" src="../../assets/images/home.png" alt="Home image"></a><!-- nav-link -->
      </li><!-- nav-item -->
      <li class="nav-item dropdown" routerLink="">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <span>Our Services</span>
          <i class="fa fa-angle-down"></i><!-- fa-angle-down -->
        </a><!-- nav-link dropdown-toggle -->
        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">
            <span>Fresher Jobs </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>InternEdge &#8208; Internships &#38; Projects </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Open Positions List
              <span class="text-red live">Live</span> <!-- live -->
            </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Resume Edge &#8208; Resume Writing Services </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Readers Galleria &#8208; Curated Library </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Trideus &#8208; Campus Ambassadors </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Triedge Events </span>
            <i class="fa fa-angle-double-right"></i><!-- fa-angle-double-right -->
          </a><!-- dropdown-item -->
        </div><!-- dropdown-menu -->
      </li><!-- nav-item -->
      <li class="nav-item" routerLinkActive="active" routerLink="">
        <a class="nav-link">
          Sign Up&#47;Sign In with
          <span class="text-red">TriEdge</span><!-- text-red -->
        </a><!-- nav-link -->
      </li><!-- nav-item -->
      <li class="nav-item" routerLinkActive="active" routerLink="">
        <a class="nav-link">
          <img class="nav-icon-img" src="../../assets/images/shopping-cart.png" alt="Cart">
          <span class="cart-badge">0</span><!-- cart-badge -->
        </a><!-- nav-link -->
      </li><!-- nav-item -->
    </ul><!-- navbar-nav -->
  </div><!-- navbar-collapse -->
</nav><!-- navbar -->
