<!-- banner -->

<div class="row m-auto">
  <div class="card card-banner w-100">
    <div class="img-banner">
      <img src="../../assets/images/bg-1.png" class="card-img-top" alt="Background Image"><!-- card-img-top -->
      <div class="banner-tittle">LIST OF EXAMS IN INDIA</div><!-- banner-title -->
      <div class="social-media-icon-container d-flex justify-content-sm-end justify-content-center">
        <div class="social-media-icon">
          <img src="../../assets/images/linkedin-in.png" alt="LinkedIn">
        </div><!-- social-media-icon -->
        <div class="social-media-icon ml-2">
          <img src="../../assets/images/facebook-f.png" alt="Facebook">
        </div><!-- social-media-icon -->
        <div class="social-media-icon ml-2">
          <img src="../../assets/images/google-plus-g.png" alt="Google Plus">
        </div><!-- social-media-icon -->
        <div class="social-media-icon ml-2">
          <img src="../../assets/images/twitter.png" alt="Twitter">
        </div><!-- social-media-icon -->
        <div class="social-media-icon ml-2">
          <img src="../../assets/images/instagram.png" alt="Instagram">
        </div><!-- social-media-icon -->
      </div><!-- social-media-icon-container -->
    </div><!-- img-banner -->
    <ul class="list-group banner-list-group">
      <li class="list-group-item item1">
        Exam Info
      </li><!-- list-group-item -->
      <li class="list-group-item item2">
        Preparation
      </li><!-- list-group-item -->
      <li class="list-group-item mr-0 pr-2">
        Resources
      </li><!-- list-group-item -->
      <img class="list-img1" src="../../assets/images/more.png" alt="3 dots menu"><!-- list-img1 -->
      <img class="list-img2 ml-2" src="../../assets/images/menu.png" alt="menu"><!-- list-img2 -->
    </ul><!-- banner-list-group -->
  </div><!-- card -->
</div><!-- row -->


<!-- main-content -->

<div class="row m-auto">
  <div class="col-md-3">
    <div class="sidebar">
      <div class="title text-red">Filter By</div><!-- title -->
      <div class="accordion" id="accordionExample">
        <div class="card filter-title-card">
          <div class="card-header" id="headingOne">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-1.png" alt="State">
                <span class="filter-title">State</span>
              </div>
              <div class="img2"></div>
            </div>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Maharashtra
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Bihar
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      Kerala
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                      Karnataka
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                      Gujarat
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseOne -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingTwo">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-2.png" alt="City">
                <span class="filter-title">City</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                      Mumbai
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                      Pune
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                      Thane
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                    <label class="form-check-label" for="defaultCheck9">
                      Jalgaon
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                    <label class="form-check-label" for="defaultCheck10">
                      Ulhasnagar
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseTwo -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingThree">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-3.png" alt="Mode of Study">
                <span class="filter-title">Mode of Study</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                    <label class="form-check-label" for="defaultCheck11">
                      Online
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                    <label class="form-check-label" for="defaultCheck12">
                      Offline
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                    <label class="form-check-label" for="defaultCheck13">
                      Hybrid
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseThree -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingFour">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
              aria-controls="collapseFour">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-4.png" alt="Ownership">
                <span class="filter-title">Ownership</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                    <label class="form-check-label" for="defaultCheck14">
                      Owner 1
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                    <label class="form-check-label" for="defaultCheck15">
                      Owner 2
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
                    <label class="form-check-label" for="defaultCheck16">
                      Owner 3
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
                    <label class="form-check-label" for="defaultCheck17">
                      Owner 4
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
                    <label class="form-check-label" for="defaultCheck18">
                      Owner 5
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
                    <label class="form-check-label" for="defaultCheck19">
                      Owner 6
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
                    <label class="form-check-label" for="defaultCheck20">
                      Owner 7
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseFour -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingFive">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
              aria-controls="collapseFive">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-5.png" alt="Degree">
                <span class="filter-title">Degree</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
                    <label class="form-check-label" for="defaultCheck21">
                      Bachelor's
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
                    <label class="form-check-label" for="defaultCheck22">
                      Post Graduate
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck23">
                    <label class="form-check-label" for="defaultCheck23">
                      SSC
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
                    <label class="form-check-label" for="defaultCheck24">
                      HSC
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck25">
                    <label class="form-check-label" for="defaultCheck25">
                      Diploma
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseFive -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingSix">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
              aria-controls="collapseSix">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-6.png" alt="Fee">
                <span class="filter-title">Fee</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck26">
                    <label class="form-check-label" for="defaultCheck26">
                      &#8377;10,000 &#8208; &#8377;40,000
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck27">
                    <label class="form-check-label" for="defaultCheck27">
                      &#8377;40,001 &#8208; &#8377;90,000
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck28">
                    <label class="form-check-label" for="defaultCheck28">
                      &#8377;90,001 &#8208; &#8377;1,50,000
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck29">
                    <label class="form-check-label" for="defaultCheck29">
                      &#8377;1,50,001 &#8208; &#8377;2,00,000
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck30">
                    <label class="form-check-label" for="defaultCheck30">
                      &#8377;1,50,001 &#8208; &#8377;3,00,000
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseSix -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingSeven">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseSeven"
              aria-expanded="false" aria-controls="collapseSeven">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-7.png" alt="Branch">
                <span class="filter-title">Branch</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck31">
                    <label class="form-check-label" for="defaultCheck31">
                      Information Technology
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck32">
                    <label class="form-check-label" for="defaultCheck32">
                      Mechanical Engineering
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck33">
                    <label class="form-check-label" for="defaultCheck33">
                      Computer Engineeering
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck34">
                    <label class="form-check-label" for="defaultCheck34">
                      Electrical Engineering
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck35">
                    <label class="form-check-label" for="defaultCheck35">
                      Civil Engineering
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseSeven -->
        </div><!-- card -->
        <div class="card filter-title-card">
          <div class="card-header" id="headingEight">
            <div class="filter-title-container" data-toggle="collapse" data-target="#collapseEight"
              aria-expanded="false" aria-controls="collapseEight">
              <div class="filter-first-half mr-auto">
                <img class="img1" src="../../assets/images/filter-img-8.png" alt="Exam">
                <span class="filter-title">Exam</span>
              </div>
              <img class="img2" src="../../assets/images/right-arrow-icon.png" alt="Right Arrow">
            </div>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck36">
                    <label class="form-check-label" for="defaultCheck36">
                      CAT
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck37">
                    <label class="form-check-label" for="defaultCheck37">
                      MAT
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck38">
                    <label class="form-check-label" for="defaultCheck38">
                      CMAT
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck39">
                    <label class="form-check-label" for="defaultCheck39">
                      XAT
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck40">
                    <label class="form-check-label" for="defaultCheck40">
                      ATMA
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
                <li class="list-group-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck41">
                    <label class="form-check-label" for="defaultCheck41">
                      GMAT
                    </label><!-- label -->
                  </div><!-- form-check -->
                </li><!-- list-group-item -->
              </ul><!-- list-group -->
            </div><!-- card-body -->
          </div><!-- collapseEight -->
        </div><!-- card -->
      </div><!-- accordion -->
    </div><!-- sidebar -->
  </div><!-- col-3 -->

  <!-- Pagination and listing -->
  <div class="col-md-9">
    <!-- Filters and tags -->
    <div class="filter-tag">
      <div class="clear-all badge"><!-- clear-all -->
        Clear All
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <span class="badge">B.E. / B.Tech</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">B.E. / B.Tech</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">B.E. / B.Tech</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">B.E. / B.Tech</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">Full Time</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">Full Time</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">Full Time</span><!-- badge -->
        </div><!-- col-3 -->

        <div class="col-md-3 col-6">
          <span class="badge">Full Time</span><!-- badge -->
        </div><!-- col-3 -->
      </div><!-- row -->
    </div><!-- filter-tag -->

    <div class="row justify-content-sm-end my-2-5 justify-content-center align-items-center ">
      SORTED BY
      <div class="btn-group filter-dropdown">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static"
          aria-expanded="false">
          Featured
        </button><!-- dropdown-toggle -->
        <div class="dropdown-menu dropdown-menu-lg-right">
          <a class="dropdown-item">
            <span>Featured</span>
            <i class="fa fa-circle"></i>
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Popularity</span>
            <i class="fa fa-circle"></i>
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Fee : Low to High</span>
            <i class="fa fa-circle"></i>
          </a><!-- dropdown-item -->
          <a class="dropdown-item">
            <span>Fee : High to Low</span>
            <i class="fa fa-circle"></i>
          </a><!-- dropdown-item -->
        </div><!-- dropdown-menu -->
      </div><!-- filter-dropdown -->
    </div><!-- filter-dropdown-row -->


    <!-- Pagination and list -->
    <div class="row list-container">
      <div class="col-md-6" *ngFor="
        let item of jsonArray | angularPaginator : { itemsPerPage: this.itemsPerPage, currentPage: currentPage };
        let i = index ">

        <div class="card pagination-card">
          <div class="card-img-container">
            <img src="../../assets/images/bg-2.png" class="card-img-top" alt="College Image">
            <img src="../../assets/images/bookmark.png" class="bookmark-icon-img" alt="Bookmark">
            <div class="row justify-content-center card-img-title-row">
              <div class="col-12 main-title text-center">{{ item['name'] }}</div><!-- col-12 -->

              <div class="col-4 text-nowrap sub-title">Location</div><!-- col-4 -->
              <div class="col-4 text-nowrap sub-title text-center">Established</div><!-- col-4 -->
              <div class="col-4 text-nowrap sub-title text-right">Type</div><!-- col-4 -->
            </div><!-- card-img-title-row -->
          </div><!-- card-img-container -->
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-nowrap">Total Engineeering Courses : {{ item['noOfCourses'] }}</div><!-- col-6 -->
              <div class="col-6 text-center star-ratings">
                <img src="../../assets/images/highlighted-star-icon.png" alt="highlighted-star-icon">
                <img src="../../assets/images/highlighted-star-icon.png" alt="highlighted-star-icon">
                <img src="../../assets/images/highlighted-star-icon.png" alt="highlighted-star-icon">
                <img src="../../assets/images/highlighted-star-icon.png" alt="highlighted-star-icon">
                <img src="../../assets/images/star-icon.png" alt="star-icon">
              </div><!-- col-6 -->

              <div class="col-6">Avg. CTC : {{ item['avgCtc'] }}</div><!-- col-6 -->
              <div class="col-6 text-center font-sm">Based on {{ item['reviewsNo'] }} Reviews</div><!-- col-6 -->

              <div class="col-6">Avg Fees : &#8377; {{ item['avgFees'] }}</div><!-- col-6 -->
              <div class="col-6 text-center">
                <button type="button" class="btn btn-primary">Download Brochure</button>
              </div><!-- col-6 -->
            </div><!-- card-body-row -->
            <!-- <h5 class="card-title">{{ (currentPage - 1) * itemsPerPage + i + 1 }} - {{ item['name'] }}</h5> -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col-6 -->
    </div><!-- row -->


    <div class="row pagination-container justify-content-center">
      <nav angularPaginator [forceEllipses]="true" [rotate]="true" [maxSize]="5" aria-label="Pagination Component"
        #paginator="angularPaginator" (pageChange)="currentPage = $event">
        <ng-container *ngIf="paginator.pages['length'] !== 0">
          <ul class="pagination pagination-md">
            <!-- direction link -->
            <li class="page-item" [ngClass]="{
              disabled: paginator.currentPage === paginator.firstPage
            }">
              <a class="page-link" (click)="paginator.toPreviousPage()">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                <span class="d-none"><i class="fa fa-chevron-left"></i></span>
              </a>
            </li>

            <!-- pagination array -->
            <li class="page-item" *ngFor="let page of paginator.pages" [ngClass]="{ active: page['active'] }">
              <a class="page-link" (click)="
                !page['active'] && paginator.setCurrentPage(page['number'])
              ">
                {{ page['text'] }}
                <span class="d-none" *ngIf="!page['active']">Page{{ page['text'] }}</span>
                <span class="d-none" *ngIf="page['active']">You are on page {{ page['text'] }}</span>
              </a>
            </li>

            <!-- direction link -->
            <li class="page-item" [ngClass]="{
              disabled: paginator.currentPage === paginator.lastPage
            }">
              <a class="page-link" (click)="paginator.toNextPage()">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                <span class="d-none"><i class="fa fa-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </ng-container>
      </nav>
    </div><!-- pagination-container -->
    <!-- <br />
    <button class="btn btn-primary btn-sm" (click)="currentPage = 3" [disabled]="currentPage === 3">
      Set CurrentPage to 3
    </button> -->
  </div><!-- col-9 -->
</div><!-- row -->
