$white-color: #FFFFFF;
$cultured-color: #F5F5F5;
$gainsboro-color: #DDDDDD;
$mikado-yellow-color: #FFC200;
$jasper-color: #D53D38;
$cg-blue-color: #4A7793;
$blue-saphire-color: #0F5A78;
$onyx-color: #444444;
$jet-color: #333333;
$erie-black: #222222;

$header-border-gradient: linear-gradient(90deg, $jasper-color 0%, $jasper-color 25%, $blue-saphire-color 25%, $blue-saphire-color 50%, $jasper-color 50%, $jasper-color 75%, $blue-saphire-color 75%);
